

body {
    display: block;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-image: url(img/295842996.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-position: bottom;
    background-size: cover;
    padding-top: 80px;
    display: block;
}

.header-item {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}



h1 {
    
    text-align: center;
    color: white;
    font-size: 100px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
}

.logo img {
    display: inline-block;
    width: 200px;
    height: 100px;
    vertical-align: middle;
}

.logo {
    display: inline-block;
}

@media(max-width: 768px)
{
    header{
        padding-top: 0px;
    }

    .header-item {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        font-size: 50px;
        margin-top: 32%;
    }

    .logo{
        padding: 10px;
        background-color: black; 
        opacity: 0.5;
        display: block;
    }

    .logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 80px;
        width: auto;
        height: auto;
    }

    .menu-bar{
        cursor: pointer;
        display: block;
        position: absolute;
        right: 20px;
        height: 23px;
        line-height: 16px;
        top: 20px;
        outline: none;
        width: 26px;
        z-index: 1;
    }

    .line{
        width: 25px;
        height: 2px;
        background-color: white;
        position: absolute;
        margin-top: 10px;
    }

    .line:before{
        content: "";
        position: absolute;
        margin-top: -7px;
        background-color: white;
        width: 100%;
        height: 2px;
    }

    .line:after{
        content: "";
        position: absolute;
        margin-top: 7px;
        background-color: white;
        width: 100%;
        height: 2px;
    }
}

.header-right {
    display: inline-block;
    width: auto;
    color: white;
    border-top: 1px solid wheat;
    border-bottom: 1px solid wheat;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;
    margin-left: 60px;
    margin-right: auto;
    margin-top: 10px;
}

.header-right a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    padding-right: 55px;
}



.header-active:nth-last-child(1) {
    padding-right: 0px;
}

#menuShowHide{
    position: absolute;
    left: -999em;
    display: none;
}

@media(max-width:768px)
{
    a.header-active{
        display: block;
        color: #daa453;
        margin: 15px 0px;
    }

    a.header-active:hover{
        text-decoration: underline;
    }

    .header-right{
        background-color: white;
        width: 100%;
        margin: auto;
        padding: 25px;
        display: none;
        position: absolute;
    }

    #menuShowHide{
        position: absolute;
        left: -999em;
        display: none;
    }

    #menuShowHide:checked ~ .header-right{
        display: block;
    }
}

.first  {
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px; 
       
}

.kinds h2 {
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 70px;
    width: 100%;
}

.item h2 {
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0px;
    margin-right: auto;
}

.first-item-img {
    width: 49%;
    display: inline-block;
    z-index: 1;
}

p {
    font-size: 14px;
    line-height: 1.8;
    color:  rgb(107, 106, 106);
    
    
}

.kinds {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: block;
}

.item {
    border-left: 1px solid rgb(240, 238, 238);
    border-right: 1px solid rgb(240, 238, 238);
    width: 50%;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}


.item:nth-last-of-type(1){
    border-left: none;
    float: right;
}

.item table {
    width: 100%;
}


.item-right table, td {
    
    border: 1px solid rgb(240, 238, 238);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-collapse: collapse;
    color: black;
    text-align: center;
}

.item-right {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    color: rgb(194, 189, 189);
}
.item-right p {
    font-size: 12px  ;
}

.first-detail-buy {
    width: 100%;
}
.item .item-description{
    min-height: 75px;
}

.detail {
    display: inline-block;
    border: 2px solid rgb(132, 81, 64);
    color: rgb(132, 81, 64);
    background-color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.buy {
    display: inline-block;
    border: 2px solid rgb(132, 81, 64);
    background-color: rgb(132, 81, 64);
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;  
}
.price {
    display: inline-block;
    margin-left: 20px;
}

@media(max-width: 768px)
{
    .item{
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-left: none;
        border-right: none;
       
    }
    .item img {
        width: 190px;
    }
    
    

    .kinds {
        width: 100%;
    }

    .first h2 {
        font-size: 18px;
        margin-bottom: 25px;
        text-align: center;
    }
    .item h2 {
        margin-top: 20px;
        text-align: left;
    }

    .item:nth-last-of-type(1){
        border-left: none;
        float: none;
    }

    .first-detail-buy {
        text-align: right;
        width: 100%;
    }

}




.second {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(247, 212, 148);
    margin-left: auto;
    margin-right: auto;
}

.plus-text {
    width: 50%;
    margin: auto;
}

.pluses {
    display: inline-block;
    position: relative;
    border-right: 1px solid rgb(211, 199, 163);
    height: 100%;
    width: 33%;
    box-sizing: border-box;
    text-align: left;
}

.pluses:nth-last-of-type(1) {
    border-right: none;
    float: right;
}
 
h3 {
    margin: 50px 0px 25px;
    text-transform: uppercase;
}



@media(max-width:768px) {

    .second {
        padding: 10px 30px;
        
        background-color: rgb(247, 212, 148);
        margin-left: auto;
        margin-right: auto;
    }

    .pluses {
        padding-top: 10px;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        text-align: left;
        border-bottom: 1px solid rgb(211, 199, 163);
        border-right: none;
        
    }

    .pluses .plus img{
        display: none;
    }

    .pluses:nth-last-of-type(1) {
        border-right: none;
        float: none;
        border-bottom: none;
    }

    h3 {
        margin-top: 0px;
    }
    .plus p {
        line-height: 1.5;
    } 
}

.third {
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    width: 100%;
 }
 
.third-text {
     display: inline-block;
     height: 100%;
     width: 60%;
     margin-right: 130px;
     vertical-align: top;
     
 }

 .third h2 {
    width: 85%;
    margin-left: auto;
    margin-left: auto;
 }

 .third-text h3{
     margin-top: 0px;
 }

 .third-item {
     display: block;
     width: 70%;
     margin-right: auto;
     margin-left: auto;
     margin-bottom: 50px;
     
 }

.story-photos {
    display: inline-block;
    text-align: right;
}

.story-photos p{
    margin-top: 0px;
    margin-bottom: 25px;
}

@media(max-width:768px) {
    .third {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 100%;

    }

    .story {
        padding-left: 20px;
        padding-right: 20px;
    }
    .third-text {
        display: inline-block;
        height: 100%;
        width: 100%;
        margin-right: 0px;

    }

    .third-item {
        margin-left: auto;
        margin-right: auto;
        
        margin-bottom: 20px;
       
    }
    .story-photos {
        float: none;
        text-align: left;
    }
    .story h2 {
        font-size: 18px;
        margin-bottom: 25px;
        margin-left: auto;
    }
    .story h3 {
        font-size: 16px;
        margin-top: 25px;
    }
    .story div:first-child{
        margin-bottom: 20px;
    }
}

.fourth {
    
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(218, 211, 197);
    width: 100%; 
    display: block;  
}
.fourth h2 {
    margin-left: 200px; 
}

.fourth p{
    display: inline-block; 
    margin-top: 0px; 
}

.fourth-comments {
    display: inline-flex;
    vertical-align: top;
}

.fourth-image {
    display: inline-block;
    margin-left: 90px;  
}

.fourth-text{
    
    margin-left: 60px;
    margin-right: 200px;
    display: inline-block;
    text-align: left;
}

.fourth-item{
    display: block;
    margin-top: 20px;
}

.fourth .button-read {
    margin-left: 200px;
    margin-right: 300px;
    display: inline-block;
    border: 1px solid rgb(107, 106, 106);
    background-color: transparent;
    color: rgb(172, 169, 169);
    text-transform: uppercase;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.fourth-item a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 0px;
    text-transform: uppercase;
    padding-left: 200px;
}

@media(max-width:768px) {
    .fourth {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }

    .fourth h2 {
        margin-left: auto; 
    }

    .fourth-image {
        margin-left: auto; 
        width: 30px;
        height: 30px; 
    }

    .fourth .button-read {
        
        margin-bottom: 10px;
        min-width: 140px;
        display: block;
        width: auto;
        margin: auto;
    }

    .fourth-item a {
        float: none;
        display: block;
        width: auto;
        margin: auto;
        padding-left: 0px;
        text-align: center;
    }

    .fourth-text{
    
        margin-left: 30px;
        margin-right: 20px;
    }
}

.fifth {
    display: block;
    margin-top: 0px;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.fifth table{
    width: 70%;
    border-collapse: collapse; 
    margin-left: auto;
    margin-right: auto;

}

.fifth th, .fifth td {
    border: none;
    border-bottom: 1px solid rgb(240, 238, 238);
    height: 40px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    padding-left: 0;
}

.fifth th {
    vertical-align: top;
    color: rgb(206, 201, 201);
    font-size: 11px;
    font-weight: normal;
}

.fifth table tr td:nth-of-type(1) {
    width: 400px;
}

.fifth table td:nth-last-child(1) {
    text-align: right;
}

.fifth table th:nth-last-child(1) {
    text-align: right;
}

@media(max-width:768px) {
    .fifth {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .fifth table{
        width: 100%;
        border-collapse: collapse; 
        margin-left: 0px;
        margin-right: 20px;
    
    }
}

.sixth {
    margin: 0px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(247, 212, 148);
    width: 100%;  
}

.sixth-item{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.sixth p {
    margin-bottom: 50px;
}

form label {
    text-transform: uppercase;
    margin: 10px 0 10px;
    font-size: 13px;
    font-weight: bold;
    display: block;
    clear: both;
}

form input, form textarea, form select {
    width: 100%;
    background-color: rgb(236, 191, 108);
    border: none;
    margin: 10px 0 20px;
    height: 40px;
}
.first-number {
    float: left;
    width: 45%;
}
.second-number {
    float: right;
    width: 45%;
}

.order  #order {
    width: 30%;
    background-color: rgb(122, 74, 39);
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

@media (max-width:768px) {

    .second-number {
        float: none;
        width: 100%;
    }

    .first-number {
        float: left;
        width: 100%;
    }

    .order  #order {
        min-width: 150px;
        background-color: rgb(122, 74, 39);
        text-transform: uppercase;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }


}

footer {
    background-color: black;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    display: block;
    
}

.footer-item {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    display: inline-block;
    width: 200px;
    height: 100px;
    vertical-align: middle;
}

.logo {
    display:inline-block;
}

.footer-right {
    display: inline-block;
    width: auto;
    color: white;
    border-top: 1px solid wheat;
    border-bottom: 1px solid wheat;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;
    margin-left: 60px;
    margin-right: auto;
    margin-top: 10px;
}


.footer-right a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase; 
    white-space: nowrap; 
    padding-right: 55px;
}



.footer-active:nth-last-child(1) {
    padding-right: 0px;
}


.footer-media {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.media {
    display: inline-block;
    border: 1px solid white;
    padding: 25px;
    background-color: grey;
}

 .media:nth-child(n+2) {
    margin-left: -6px;  
 }

  .footer-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 130px;
    text-align: left;
    width: 200px;  
  }

  .develop-logo {
    display: inline-block;
    border: 1px solid white;
    padding: 20px 25px;
    background-color: grey;
    
  }

  .logo-item {
    
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 30px;
    text-align: left;
    
  }

  .logo-footer {
      display: inline-block;
  }

  @media(max-width:768px){
    
    footer{
        padding-top: 0px;
    }

    .footer-item {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        display: block;
    }
    
    
    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 80px;
        width: auto;
        height: auto;
    }


    .footer-right{
        background-color: white;
        width: 100%;
        margin: auto;
        padding: 25px;
        display: none;
        position: absolute;
    }

   
}








